# Missing Value in R

## Missing Value Representation (NA, NULL dan NaN.)

### Coercing

Changing of missing value within vector to another value

In [1]:
x <- c(1, 2, FALSE, 3)
x

[1] 1 2 0 3

### NA


NA is the main representation of the missing value in R, and is an atomic value.
NA positions are the same as examples of atomic values of numbers such as 1, 2 or 100. Also the same as examples of character values such as "a", "b", or "c".

Because numbers and characters like the example above are often referred to as constants, then NA is a constant for missing values.

Thus, briefly NA is:
-Replace missing values
-It is a constant or an atomic value

NA cannot be used as a variable because it is a keyword.

NA = both characters are uppercase.

In [2]:
NA

[1] NA

In [3]:
typeof(NA)

[1] "logical"

In [4]:
x <- NA
print(x == NA)
print(is.na(NA))

[1] NA
[1] TRUE

In [5]:
typeof(NA_integer_)
typeof(NA_real_)
typeof(NA_complex_)
typeof(NA_character_)
is.na(NA_integer_)
is.na(NA_real_)
is.na(NA_complex_)
is.na(NA_character_)

[1] "integer"

[1] "double"

[1] "complex"

[1] "character"

[1] TRUE

[1] TRUE

[1] TRUE

[1] TRUE

In [6]:
#Create a vector named container with the contents of numbers, where one of them has a missing value
container <- c(1,2,3,NA,3,1)

#Check the entire data type with lapply and typeof loop
lapply(container, typeof)

#Use is.na to check for the missing value of each element in the vector
is.na(container)

[[1]]
[1] "double"

[[2]]
[1] "double"

[[3]]
[1] "double"

[[4]]
[1] "double"

[[5]]
[1] "double"

[[6]]
[1] "double"

[1] FALSE FALSE FALSE  TRUE FALSE FALSE

### NULL
NULL is a value that is widely used in other programming languages or SQL (Structured Query Language) to represent objects that are missing or null objects (missing objects) or missing values.

In R, the missing value is represented by NA. Now, for this missing object we use NULL in R.

NULL is a special object in R that is used to represent an undefined value or object.

NULL represents an undefined object and is not considered by a vector. It is thus not part of the vector.

In [7]:
#NULL with Vector
#Create a vector named container with the contents of numbers, where one of them has a missing value and one of them is a NULL
container <- c(1, 2, 3, NA, 5, NULL, 7)

#Show the vector, NULL is removed
print(container)

#check if removed
length(container)

[1]  1  2  3 NA  5  7

[1] 6

In [8]:
#NULL with List
#Create a list named container with the contents of numbers, where one of them has a missing value and one of them is a NULL
list <- list(1, 2, 3, NA, 5, NULL, 7)

#Show the list, NULL is removed
print(list)

#check if removed
length(list)

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[4]]
[1] NA

[[5]]
[1] 5

[[6]]
NULL

[[7]]
[1] 7

[1] 7

### NaN

In [9]:
print(2/0)
print(-2/0)
print(0/0)

[1] Inf
[1] -Inf
[1] NaN

In [10]:
print(NaN == NaN)

example <- 0/0
is.nan(example)

[1] NA

[1] TRUE

in R, it can be said that NaN is also a missing value.
But not vice versa, all NA values will not return the TRUE value if checked with the is.nan function.

In [11]:
print(is.na(NaN))
print(is.nan(NA))

[1] TRUE
[1] FALSE

## Count Missing Values

In [12]:
container <- c(1, 2, 3, NA, 5, NULL, 7)
sum(is.na(container)==TRUE)

[1] 1