### Database Connection
Description of the parameters used:
<Br>-MySQL (): is a function that is a must to load the MySQL driver to R.
<Br>-host: this is the location of the server, it can be in the form of an IP address or hostname. To practice this course, we use the host name "mysqlhost".
<Br>-user: this is the name of the user that is allowed to connect to the server. To practice this course, we use user c.
<Br>-password: the password used by the user. To practice this course, we use the "demo" password.
<Br>-dbname: name of the database used. To practice this course, we use a database named "dqlabdatawrangling".

In [ ]:
library(RMySQL)

#Open Connection
con <- dbConnect(MySQL(), user="demo", password="demo", host="mysqlhost",
                 dbname="dqlabdatawrangling")
#Close Connection
all_cons <- dbListConnections(MySQL())
for(con in all_cons) dbDisconnect(con)

### Acquire Data using Select

In [ ]:
#Construct SQL
sql <- "SELECT * FROM dqlab_messy_data"

#Send query to server
response <- tryCatch(dbSendQuery(con, sql), finally = print("query ok"))

#Acquire Data
data.pelanggan <- fetch(response, n=-1)
str(data.pelanggan)

### Retrieve the Customer Code and Name fields

In [3]:
sql <- "SELECT kode_pelanggan, nama FROM dqlab_messy_data"

response <- tryCatch(dbSendQuery(con, sql), finally = print("query ok"))

data.pelanggan <- fetch(response, n=-1)
data.pelanggan

### Filtering data with WHERE

In [4]:
sql <- "select kode_pelanggan, nama from dqlab_messy_data where nama ='Safira Hana Sahrani'"

response <- tryCatch(dbSendQuery(response, sql), finally = print("query ok"))

data.pelanggan <- fetch(rs, n=-1)
data.pelanggan

### Filtering data with WHERE ... LIKE
Suppose we have the following name data:

<table style="width: 214.0pt; border-collapse: collapse; border: none;" width="285">
<tbody>
<tr style="height: 14.4pt;">
<td style="width: 214.0pt; border: solid windowtext 1.0pt; background: #AEAAAA; padding: 0cm 5.4pt 0cm 5.4pt; height: 14.4pt;" width="285">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="color: black;">Nama</span></p>
</td>
</tr>
<tr style="height: 14.4pt;">
<td style="width: 214.0pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 14.4pt;" width="285">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="color: black;">Maria Sirait</span></p>
</td>
</tr>
<tr style="height: 14.4pt;">
<td style="width: 214.0pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 14.4pt;" width="285">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="color: black;">Ir. Ita&nbsp;&nbsp;&nbsp; Nugraha</span></p>
</td>
</tr>
<tr style="height: 14.4pt;">
<td style="width: 214.0pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 14.4pt;" width="285">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="color: black;">Djoko Wardoyo, Drs.</span></p>
</td>
</tr>
<tr style="height: 14.4pt;">
<td style="width: 214.0pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 14.4pt;" width="285">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="color: black;">Khairul Nissa</span></p>
</td>
</tr>
<tr style="height: 14.4pt;">
<td style="width: 214.0pt; border: solid windowtext 1.0pt; border-top: none; padding: 0cm 5.4pt 0cm 5.4pt; height: 14.4pt;" width="285">
<p style="margin-bottom: .0001pt; line-height: normal;"><span style="color: black;">Kaka Ari Lima</span></p>
</td>
</tr>
</tbody>
</table>

If we want to find data that has commas, then we can write the like construction as follows.

Nama like '%,%'

This means that the comma name is enclosed in any character - the percent sign to the left and right of the comma.

Then if we want to find a name beginning with the letter K, then we can use the following construction like.

Nama like 'K%'

For example : SELECT kode_pelanggan, nama FROM dqlab_messy_data WHERE nama like 'a%'

This filter construction will search for all data starting with a. Upper and lower case letters are not a problem.

Result : 
<pre>   kode_pelanggan             nama
1        KD-00126     Agus Cahyono
2        KD-00088              Ayu
3        KD-00139       Agnes Rita
4        KD-00090  Andreas Sutanto
5        KD-00028    Aman Pakpahan
6        KD-00001   Agus Cahyono's
7        KD-00026    Anton Winarta
8        KD-00051      Abdul Kadir
9        KD-00009 Antonius Winarta
10       KD-00118      Abdul Kadir
11       KD-00089    Acmad Junaidi
12       KD-00042    Ahmad Junaidi
13       KD-00112       Ari Masbun
14       KD-00081     Andy Gunawan
</pre>

In [ ]:
sql <- "select kode_pelanggan, nama from dqlab_messy_Data where nama like 'b%' " 

rs <- tryCatch(dbSendQuery(con, sql), finally = print("query ok"))

data.pelanggan <- fetch(rs, n=-1)
data.pelanggan

### Filtering data with WHERE ... REGEXP

In [ ]:
sql <- "select kode_pelanggan, nama from dqlab_messy_data where namA regexp '[xz]'"

response <- tryCatch(dbSendQuery(con, sql), finally = print("query ok"))

#Mengambil data
data.pelanggan <- fetch(response, n=-1)
data.pelanggan