# Cleansing : Postal Code

In [1]:
sql <-  "SELECT pola_kode_pos, length(pola_kode_pos) as panjang_text, count(*) as jumlah_data 
from dqlab_messy_data
group by pola_kode_pos"

<pre>
pola_kode_pos panjang_text jumlah_data
1             -            1           5
2        999999            6         147
3        99999A            6           1
4        9999A9            6           2

9999A9 and  99999A is anomaly because there is a Letter in postal code.

get the data from SQL with this query:

<pre>
SELECT kode_pos, pola_kode_pos 
FROM dqlab_messy_data 
WHERE pola_kode_pos in ('99999A', '9999A9')
</pre>

In [2]:
sql <- "select kode_pelanggan, kode_pos, pola_kode_pos from dqlab_messy_data where pola_kode_pos in ('99999A', '9999A9')"

<pre>
  kode_pelanggan kode_pos pola_kode_pos
1       KD-00093   96722O        99999A
2       KD-00083   8765I1        9999A9
3       KD-00085   9876O1        9999A9
</pre>

You can see the letter O, which should be 0 (zero) for customer_code = 'KD-00093' and for customer_code = 'KD-00085'. 
<br>After that there is the letter I which probably means the number 1.

In the next stage we try to replace it first with our assumptions, O becomes 0. And I becomes 1.

### Standardize Postal Code

In [6]:
library(openxlsx)
data_kode_pos <- read.xlsx("C:/Users/aftermath/Documents/CS-101/R/asset/kode_pos.xlsx")
data_kode_pos

  kode_pelanggan kode_pos pola_kode_pos
1 KD-00093       96722O   99999A
2 KD-00083       8765I1   9999A9
3 KD-00085       9876O1   9999A9

In [8]:
data_kode_pos$kode_pos <-gsub("O","0",data_kode_pos$kode_pos)
data_kode_pos$kode_pos <-gsub("I","1",data_kode_pos$kode_pos)
data_kode_pos

  kode_pelanggan kode_pos pola_kode_pos
1 KD-00093       967220   99999A
2 KD-00083       876511   9999A9
3 KD-00085       987601   9999A9

In [10]:
library(bpa)

data_kode_pos$pola_kode_pos <- basic_pattern_analysis(data_kode_pos$kode_pos)
data_kode_pos

  kode_pelanggan kode_pos pola_kode_pos
1 KD-00093       967220   999999
2 KD-00083       876511   999999
3 KD-00085       987601   999999